iframe{
    border: none;
}
#navigationTab{
    position: absolute;
    top: 0;
    left: 0vw;
    width: 100vw;
    height: 8vh;
}
#sideNavigationTab{
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: max-content;
    height: 100vh;
    z-index: 999999;
}
#contentTab{
    position: absolute;
    top: 8vh;
    left: 1vh;
    width: 98vw;
    height: 90vh;
}
body{
    overflow: hidden;
}

/* when in mobile mode*/
@media screen and (max-width: 100vh){
    #navigationTab{
        position: absolute;
        top: 0;
        left: 0vw;
        width: 100vw;
        height: 8vh;
    }
}